/**
 * Copyright eLearning Brothers LLC 2012 All Rights Reserved
 */

:focus {outline: 0; }


div.game div.buttons {
    padding-top: 20px;
    text-align: center;
    clear: both;
    width: 100%;
}
div.game {
    background: black 50% 50% no-repeat;
    width: 720px;
    height: 540px;
    background-size: cover;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 0;
    position: relative;
    overflow: hidden;
}
div.game div.logo3,
div.game div.logo2,
div.game div.logo1 {
    background: 50% 50% no-repeat;
    width: 0px;
    height: 0px;
    background-size: cover;
    position: absolute;
}

div.game a.button {
    cursor: pointer;
    display: inline-block;
    color: white;
    background: #3787e0;
    border-radius: 8px;
    line-height: 35px;
    height: 35px;
    font-size: 1.5em;
    padding: 4px 50px;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);

    position: relative;
    z-index: 10;

    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.7),  0 2px 5px rgba(0,0,0,0.15), inset 0 -17px 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.7),  0 2px 5px rgba(0,0,0,0.15), inset 0 -17px 0 rgba(0,0,0,0.10);
    box-shadow: 0 0 10px rgba(0,0,0,0.7),  0 2px 5px rgba(0,0,0,0.15), inset 0 -17px 0 rgba(0,0,0,0.10);

}

div.game a.button:hover {
    color: white;
    background: #3787e0;
}

div.game a.button:active {
    top:1px;
    left:1px;
}

div.game>div {
    display: none;
}

div.game.step-0>div.step-0,
div.game.step-1>div.step-1,
div.game.step-2>div.step-2,
div.game.step-3>div.step-3,
div.game.step-4>div.step-4,
div.game.step-5>div.step-5 {
    display: block;

}

/* STEP 1 */
/* STEP 2 */
div.game div.step-2 {

}
div.game div.step-2-description {
    padding: 0px;
    background: white;
    margin: 0 auto;
    width: 600px;
    height: 290px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.7);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}
div.game div.step-2-description>div {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 185px;
    min-height: 185px;
}
div.game div.step-2-description>div>div {
    margin: 10px;
}
/* STEp 3*/

div.game div.score {
    color: red;
    font-weight: bold;
    font-size: 28px;
    z-index: 100;
    position: relative;
}

/* STEP 4 */
div.game .step-4.answered .question-choose-wrapper {
    display: none;
}
div.game .step-4 .buttons.buttons-confirm,
div.game .step-4.unanswered .buttons.buttons-continue,
div.game .step-4.unanswered .question-answered-block-wrapper{
    display: none;
}
div.game .step-4.unanswered.type-multiple .buttons.buttons-confirm {
    display: block;
}
div.game .step-4.answered.incorrect .question-answered-block-wrapper h1{
    color: #FF5555;
}
div.game .step-4.answered.correct .question-answered-block-wrapper h1{
    color: #55FF55;
}

div.game .question-answered-block-wrapper {
    background: white;
    width: 300px;
    height: 232px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.7);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    float: left;
    margin-top: 0px;
}
div.game .question-answered-block-wrapper>div {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 110px;
    min-height: 110px;
}
div.game .question-answered-block-wrapper>div>div {
    margin: 10px;
}
div.game .vertical .question-answered-block-wrapper {
    margin: 0 auto;
    margin-top: 0px;
    float: none;
}

div.game .question-choose-wrapper {
    float: left;
    margin-top: 0px;
}
div.game .vertical .question-choose-wrapper {
    float: none;
    margin: 0 auto;
    margin-top: 0px;
    text-align: center;
}
div.game .vertical .question-choose {
    text-align: center;
    margin: 0 auto;
}
div.game .vertical .question-choose .variant{
    float: none;
    display: table-cell;
    vertical-align: middle;
    margin: 2px;

}

div.game .vertical .question-choose .variant-wrapper {
    float: none;
    display: inline-block;
    text-align: left;
    margin: 5px;
    padding: 2px;

}
div.game .question-choose .variant {
    background: white;
    height: 60px;
    width: 300px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,1);
    cursor: pointer;

    display: block;
    position: relative; /*for eli*/
}
div.game .question-choose .variant div.table {
    display: table;
    height: 100%;
    width: 100%;
    text-align: left;
    margin: 0px auto;
}
div.game  .question-choose .variant div.table>div {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}
div.game  .question-choose .variant div.table>div div {
    width: 100%;
}

div.game .question-block-wrapper {
    margin-top: 00px;
    margin-left: 25px;
    margin-right: 25px;
    float: left;
}
div.game .vertical .question-block-wrapper {
    float: none;
}
div.game .question-block-wrapper.transparent {
    background: transparent;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
div.game .question-block-wrapper.transparent>div>div {
    /*display: none;*/
}
div.game .question-block-wrapper.transparent>div.question-block-wrapper-inner {
    background: transparent;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
div.game .question-block-wrapper>div.question-image {
    background-size: cover;
    position: absolute;
}
div.game .question-block-wrapper>div.question-image,
div.game .question-block-wrapper>div.question-block-wrapper-inner {
    background:  0 0 no-repeat;
    width: 300px;
    height: 262px;
}
div.game .question-block-wrapper.vertical>div.question-image,
div.game .question-block-wrapper.vertical>div.question-block-wrapper-inner {
    width: 600px;
    height: 100px;
    margin: 0 auto;
}

div.game .question-block-wrapper>div.question-block-wrapper-inner {
    background-size: cover;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.7);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}
div.game .question-block-wrapper>div.question-block-wrapper-inner>div {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    min-height: 100%;
}
div.game .question-block-wrapper>div.question-block-wrapper-inner>div>div {
    margin: 10px;
}
/* STEP 5 */
div.game .result-block-wrapper {
    background: white;
    width: 600px;
    margin: 0 auto;
    height: 290px;
    border: 5px solid #ccc;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.7);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    margin-top: 50px;
}
div.game .result-block-wrapper>div {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 190px;
    min-height: 190px;
}
div.game .result-block-wrapper>div>div {
    margin: 10px;
}
div.game div.result-block div.score-description {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}
div.game .progressbar {
    position: absolute;
}



/* SCIENTIST */
div.game div.scoreboard {
    position: absolute;
    width: 720px;

}

.game>div {
    position: relative;
    z-index: 3;
}

div.game .vertical .question-choose-wrapper,
div.game .vertical .question-answered-block-wrapper,
div.game .vertical .question-block-wrapper {
    overflow: hidden;

}
div.game .vertical .question-choose-wrapper,
div.game .vertical .question-answered-block-wrapper {
    width: 689px;
}

div.game .result-block-wrapper {
    margin-top: 0;
}

div.game div.score {
    z-index: 4;
}

body.gamebody {
    margin: 0 auto;
    width: 720px;
    height: 540px;
    /*padding: 50px;
    padding-top: 0px;*/
}
div.game div.time {
    display: block;
    font-weight: bold;
}
div.game div#texture {
    position: absolute;
    width: 720px;
    height: 540px;
    display: block !important;
}
div.game .quiz-results {
    position: absolute;
    bottom: 10px;
    right: 15px;
}